.div{
    width: 100%;
    gap: 30px;
    margin-left: 36%;
    font-family: sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 50px;
}
.div button{
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}